.footer-container {
  position: relative;
  height: max-content;
  overflow: hidden;
  color: #331a15;

  h1 {
    font-weight: 500;
    text-shadow: 0 2px 5px #331a15;
    /* box-shadow: 0 5px 5px 5px #331a15; */
  }

  .footer-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img {
    width: 50px;
    margin-bottom: 20px;
  }
  .footer-info {
    max-width: 1000px;
    padding: 50px 0;
    margin: 0 auto;
    .footer-infos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: 10px;

      @media only screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .social-media {
          display: flex;
          gap: 10px;
          font-size: 30px;
        }
        .contact {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .contact-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        form {
          display: flex;
          flex-direction: column;
          gap: 15px;

          input {
            padding: 10px;
            font-size: 20px;
            border-radius: 10px;
            border: none;
          }
        }
        form :nth-child(3) {
          height: 100px;
        }
        form :nth-child(4) {
          padding: 5px 10px;
          margin: 0 auto;
          color: #331a15;
          border: 2px solid #331a15;
          border-radius: 20px;
          cursor: pointer;
        }
        form :nth-child(4):hover {
          color: white;
          background: #331a15;
        }
      }
    }
  }
}
