@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

body {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  .button {
    padding: 5px 10px;
    background: #e3b577;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all ease 0.5s;
    font-family: "Rancho", cursive;
    font-style: normal;
  }

  .button:active {
    transform: scale(0.8);
  }
}

a {
  text-decoration: none;
  color: black;
}

.back-to-home {
  display: flex;
  align-items: center;
  gap: 10px;
  p {
    font-weight: 600;
    text-shadow: 0 2px 5px black;
  }
}
